<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Conferencias</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fab fa-battle-net"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Recaudación Congreso</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">


            <!-- Nav Item - Pages Collapse Menu -->
            <!--
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            -->

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html" th:href="@{auspiciantes}">
                    <i class="fas fa-fw fa-handshake"></i>
                    <span>Auspiciantes</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="tables.html" th:href="@{oradores}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Oradores</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="tables.html" th:href="@{espectadores}">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Espectadores</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="tables.html" th:href="@{conferencias}">
                    <i class="fas fa-fw fa-university"></i>
                    <span>Conferencias</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="tables.html" th:href="@{entradas}">
                    <i class="fas fa-fw fa-ticket-alt"></i>
                    <span>Entradas</span></a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <li class="nav-item">
                <a class="nav-link" href="tables.html" th:href="@{balance}">
                    <i class="fas fa-fw fa-dollar-sign"></i>
                    <span>Balance</span></a>
            </li>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Main Content -->
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" sec:authentication="name"></span>
                                <img class="img-profile rounded-circle" th:src="@{'/img/'+ ${imgUser}}">


                            </a>


                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" id="btn-profile" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                                </a>

                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->


                <div class="container-fluid">

                    <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}" th:text="${mensaje}" class="alert">
                    </div>

                    <a href="#" class="btn btn-success btn-icon-split btn-add" style="margin-bottom: 20px;">
                        <span class=" icon text-white-50 ">
                          <i class="fas fa-plus "></i>
                        </span>
                        <span class="text ">Agregar Conferencia</span>
                    </a>

                    <div class="card-group">

                        <div class="card border-left-info shadow h-100 py-2" th:each="c : ${conferencias}" style="max-width: 15rem; margin-right: 20px !important;">
                            <div class="card-header text font-weight-bolder text-info text-uppercase mb-1" th:text="${c.titulo}"></div>
                            <div class="card-body text-primary">
                                <p class="card-text" th:text="${c.descripcion}"></p>
                                <p class="card-text" th:text="${c.fecha}"></p>
                                <p class="card-text" th:text="${c.Orador.nombre} + ' ' + ${c.Orador.apellido} "></p>

                                <p class="card-text" th:text="'$'+ ${c.costo}"></p>


                                <a href="#" th:href="@{/conferencias/{id}(id=${c.idConferencia})}" class="btn btn-info btn-icon-split btn-sm edit">
                                    <span class="icon text-white-50">
								  <i class="fas fa-edit"></i>
								</span>
                                    <span class="text">Editar</span>
                                </a>

                                <a href="#" th:href="@{/conferencias/delete/{id}(id=${c.idConferencia})}" class="btn btn-danger btn-icon-split btn-sm">
                                    <span class="icon text-white-50">
								  <i class="fas fa-trash"></i>
								</span>
                                    <span class="text">Eliminar</span>
                                </a>


                                <div class="text-center" style="margin-top: 10px">

                                    <a href="#" th:href="@{/conferencias/listaAuspiciantes/{id}(id=${c.idConferencia})}" class="btn btn-dark btn-icon-split btn-sm btn-costo">
                                        <span class="icon text-white-50">
								  <i class="fas fa-dollar-sign"></i>
								</span>
                                        <span class="text">Costo Real</span>
                                    </a>

                                </div>



                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-add">
                    <form action="#" method="post" th:action="@{conferencias/save}" novalidate class="formulario-add">
                        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal-add" role="dialog" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Agregar Conferencia
                                        </h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span>
									</button>
                                    </div>
                                    <div class="modal-body">



                                        <div class="form-group">
                                            <label class="col-form-label" for="name">Titulo:</label> <input class="form-control" id="titulo" name="titulo" type="text" value="" required />
                                            <div class="invalid-feedback">
                                                Debe ingresar el titulo
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <label class="col-form-label" for="name">Descripcion:</label> <input class="form-control" id="descripcion" name="descripcion" type="text" value="" required />
                                            <div class="invalid-feedback">
                                                Debe ingresar la descripcion
                                            </div>
                                        </div>



                                        <div class="form-row">

                                            <div class="col">

                                                <div class="form-group">
                                                    <label class="col-form-label" for="name">Fecha:</label> <input class="form-control" id="fecha" name="fecha" type="date" value="" required />
                                                    <div class="invalid-feedback">
                                                        Debe ingresar la fecha de realizacion
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col">

                                                <div class="form-group">
                                                    <label class="col-form-label" for="name">Costo:</label> <input class="form-control" id="costo" name="costo" type="number" value="" min="1" required/>
                                                    <div class="invalid-feedback">
                                                        Debe ingresar el costo
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="form-group">

                                            <label class="col-form-label" for="name">Orador:</label>

                                            <select class="form-control " id="orador" name="orador.idPersona">
                                                <option th:each="o : ${oradores}" th:value="${o.idPersona}" th:text="${o.nombre} + ' ' + ${o.apellido}"></option>
                                            </select>

                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                        <input class="btn btn-success" type="submit" value="Save" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="form-update">
                    <form action="#" method="post" th:action="@{conferencias/save}" novalidate class="formulario-update">
                        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Editar Conferencia
                                        </h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span>
									</button>
                                    </div>
                                    <div class="modal-body">
                                        <input class="form-control" id="id" name="idConferencia" type="hidden" value="" />


                                        <div class="form-group">
                                            <label class="col-form-label" for="name">Titulo:</label> <input class="form-control" id="titulo" name="titulo" type="text" value="" required />
                                            <div class="invalid-feedback">
                                                Debe ingresar el titulo
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <label class="col-form-label" for="name">Descripcion:</label> <input class="form-control" id="descripcion" name="descripcion" type="text" value="" required />
                                            <div class="invalid-feedback">
                                                Debe ingresar la descripcion
                                            </div>
                                        </div>



                                        <div class="form-row">

                                            <div class="col">

                                                <div class="form-group">
                                                    <label class="col-form-label" for="name">Fecha:</label> <input class="form-control" id="fecha" name="fecha" type="date" value="" required />
                                                    <div class="invalid-feedback">
                                                        Debe ingresar la fecha de realizacion
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col">

                                                <div class="form-group">
                                                    <label class="col-form-label" for="name">Costo:</label> <input class="form-control" id="costo" name="costo" type="number" value="" min="1" required/>
                                                    <div class="invalid-feedback">
                                                        Debe ingresar el costo
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="form-group">

                                            <label class="col-form-label" for="name">Orador:</label>

                                            <select class="form-control " id="orador" name="orador.idPersona">
                                                <option th:each="o : ${oradores}" th:value="${o.idPersona}" th:text="${o.nombre} + ' ' + ${o.apellido}"></option>
                                            </select>

                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                        <input class="btn btn-success" type="submit" value="Save" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>



                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-costo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Costo Real</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                                </div>
                                <div class="modal-body show-costo">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <form th:action="@{/logout}" method="post">
                            <input class="btn btn-primary" style="cursor: pointer" type="submit" value="Logout" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="detailsUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detalles del Usuario</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <img class="img-profile rounded-circle" style="height: 100px;" th:src="@{'/img/'+ ${imgUser}}">



                            <div class="container-fluid">
                                <div class="text-center" style="margin-top: 30px">
                                    <span style="text-transform: capitalize; padding-top: 36px" sec:authentication="name"></span>
                                    <span sec:authentication="principal.authorities"></span>
                                </div>
                            </div>

                        </div>




                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="../../vendor/jquery/jquery.min.js"></script>
        <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="../../js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="../../vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="../../js/demo/chart-area-demo.js"></script>
        <script src="../../js/demo/chart-pie-demo.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {

                $('.card-group .edit').on('click', function(event) {
                    event.preventDefault();
                    var href = $(this).attr('href');

                    $.get(href, function(conferencia, status) {
                        $('.form-update #id').val(conferencia.idConferencia);
                        $('.form-update #titulo').val(conferencia.titulo);
                        $('.form-update #descripcion').val(conferencia.descripcion);
                        $('.form-update #fecha').val(conferencia.fecha);
                        $('.form-update #costo').val(conferencia.costo);
                        $('.form-update #orador').val(conferencia.orador.idPersona);
                    });
                    $('.form-update #exampleModal').modal();

                });


                $('.btn-add').on('click', function(event) {
                    event.preventDefault();
                    $('.form-add #exampleModal-add').modal();
                });

                $('.btn-costo').on('click', function(event) {
                    event.preventDefault();
                    var href = $(this).attr('href');
                    var id = href.substring(href.lastIndexOf('/') + 1);

                    $.ajax({
                        type: 'GET',
                        url: "conferencias/costoReal/" + id,
                        dataType: 'json',
                        success: function(costoReal) {
                            $('.show-costo').html('El costo menos el aporte de los auspiciantes es: $' + costoReal + '<hr>');

                        },
                    });


                    $.ajax({
                        type: 'GET',
                        url: href,
                        dataType: 'json',
                        success: function(lstAuspiciantes) {
                            var text;

                            $.each(lstAuspiciantes, function(i, item) {

                                text = lstAuspiciantes[i].razonSocial + "&emsp;&emsp;" + lstAuspiciantes[i].cuit + "&emsp;&emsp;$" + lstAuspiciantes[i].montoAportado + "</br>";
                                $('.show-costo').append(text);
                            });

                        },
                    });

                    $('#exampleModal-costo').modal();

                });

                (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('formulario-add');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function(form) {
                            form.addEventListener('submit', function(event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();


                (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('formulario-update');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function(form) {
                            form.addEventListener('submit', function(event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();

                $('#btn-profile').on('click', function(event) {
                    event.preventDefault();
                    $('#detailsUserModal').modal();
                });

            });
        </script>


</body>

</html>