<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Entradas</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">
    	
    	<div class="container-fluid">

                    <table class="table table-striped table-light">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fecha Compra</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Espectador</th>
                                <th scope="col">Conferencia</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="e : ${entradas}">
                                <th th:text="${e.idEntrada}" scope="row"></th>
                                <td th:text="${e.fechaCompra}"></td>
                                <td th:text="${e.precio}"></td>
                                <td th:text="${e.Espectador.Nombre} +' '+ ${e.Espectador.apellido}"></td>
                                <td th:text="${e.Conferencia.titulo}"></td>
                                

                                <td>
                                
                         </tbody>
                    </table>
    	
    	

        <!-- Bootstrap core JavaScript-->
        <script src="../../vendor/jquery/jquery.min.js"></script>
        <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="../../js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="../../vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="../../js/demo/chart-area-demo.js"></script>
        <script src="../../js/demo/chart-pie-demo.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {

                $('.card-group .edit').on('click', function(event) {
                    event.preventDefault();
                    var href = $(this).attr('href');

                    $.get(href, function(conferencia, status) {
                        $('.form-update #id').val(conferencia.idConferencia);
                        $('.form-update #titulo').val(conferencia.titulo);
                        $('.form-update #descripcion').val(conferencia.descripcion);
                        $('.form-update #fecha').val(conferencia.fecha);
                        $('.form-update #costo').val(conferencia.costo);
                    });
                    $('.form-update #exampleModal').modal();

                });


                $('.btn-add').on('click', function(event) {
                    event.preventDefault();
                    $('.form-add #exampleModal-add').modal();
                });

            });
        </script>


</body>

</html>

